<link rel="stylesheet" href="/css/reseñas/reseñas.css" />
<h1 id="titulo">Liderazgo</h1>
<div>
    <img src="http://localhost/Formularios/Vista/img/lider.jpg" id="foto1" />
</div>

<div id="caja">El liderazgo es la capacidad que tiene una persona de influir, motivar, organizar y 
        llevar a cabo acciones para lograr sus fines y objetivos que involucren a personas y grupos en una marco de valores.
</div>

<h2 id="subtitulo">Factores para descubrir el Líder que llevas dentro</h2>

<img src="http://localhost/Formularios/Vista/img/Liderazgo%20C01.jpg" id="foto1">
<img src="http://localhost/Formularios/Vista/img/Liderazgo%20C02.jpg" id="foto2">
<img src="http://localhost/Formularios/Vista/img/Liderazgo%20C03.jpg" id="foto3">

<div id="caja2">Los siguientes son actitudes que identifican el Líder dentro de ti:<br/>
        -QUERER.<br/>
        -PREGUNTARSE.<br/>
        -ESCUCHAR.<br/>
        -DISPOSICIÓN.<br/>
        -NOMBRAR.<br/>
        -ACEPTAR.<br/>
        -TRABAJAR.<br/>
        </div>
<iframe src="https://www.youtube.com/embed/Rc3INqDmgDI" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
    id="video"></iframe>
<h3 id="frase">“Los líderes serán aquellos que impulsen a otros”. – Bill Gates</h3>