<link rel="stylesheet" href="/css/reseñas/reseñas.css" />
<h1 id="titulo">Fundamentos del Liderazgo</h1>
<div>
    <img src="http://localhost/Formularios/Vista/img/fundamentos.jpg" id="foto1" />
</div>

<div id="caja">Los líderes son personas que inspiran, que motivan, a quienes queremos 
        seguir pero en la realidad, todos somos líderes o podemos serlo, sólo que muchos no hemos 
        descubierto aún esa parte que vive dentro de nosotros o no la vemos. Sin embargo, hay 
        diferentes factores que nos hacen desarrollar en mayor o menor medida esta habilidad.
</div>

<h2 id="subtitulo">Principios de un Lider</h2>

<img src="http://localhost/Formularios/Vista/img/fundamentos%20lider%20H1.jpg" id="foto1">
<img src="http://localhost/Formularios/Vista/img/fundamentos%20lider%20H2.jpg" id="foto2">
<img src="http://localhost/Formularios/Vista/img/fundamentos%20lider%20H3.png" id="foto3">

<div id="caja2">Los siguientes son once valores esenciales en un líder:<br/>
        -Confianza en sí mismo.<br/>
        -Visión.<br/>
        -Fe en la misión personal y del grupo..<br/>
        -Pasión.<br/>
        -Ética.<br/>
        -Energía.<br/>
        </div>
<iframe src="https://www.youtube.com/embed/rd4cGO0F24E" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
    id="video"></iframe>
<h3 id="frase">“Los líderes serán aquellos que impulsen a otros”. – Bill Gates</h3>