<link rel="stylesheet" href="/css/reseñas/reseñas.css" />
<h1 id="titulo">Liderazgo</h1>
<div>
    <img src="http://localhost/Formularios/Vista/img/lider.jpg" id="foto1" />
</div>

<div id="caja">El autoconocimiento consiste en conocernos profundamente a
    nosotros mismos, sabiendo entender nuestras emociones, defectos, cualidades y
    problemas en cualquier contexto. Conocerse uno mismo permite saber lo que
    queremos en la vida, ya sea en grandes proyectos o en el día a día.
</div>

<h2 id="subtitulo">Principios de un Lider</h2>

<img src="http://localhost/Formularios/Vista/img/Liderazgo%20C01.jpg" id="foto1">
<img src="http://localhost/Formularios/Vista/img/Liderazgo%20C02.jpg" id="foto2">
<img src="http://localhost/Formularios/Vista/img/Liderazgo%20C03.jpg" id="foto3">

<div id="caja2">Concejos para Mejorar el Autoconocimiento:<br/>
        -Escribe un diario.<br/>
        -Escoge un coaching.<br/>
        -Actitud positiva.<br/>
        -Descubre más cosas que te gusten.<br/>
        -Foda Personal.<br/>
        </div>
<iframe src="https://www.youtube.com/embed/16z28DjRTAA" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
    id="video"></iframe>
<h3 id="frase">“Los líderes serán aquellos que impulsen a otros”. – Bill Gates</h3>

