<link rel="stylesheet" href="/css/reseñas/reseñas.css" />
<h1 id="titulo">Liderazgo</h1>
<div>
    <img src="http://localhost/Formularios/Vista/img/Bill%20Gates.jpg" id="foto1" />
</div>

<div id="caja">Es un empresario, informático y filántropo estadounidense, 
        creador y fundador junto con Paul Allen, la empresa Microsoft y creador 
        del sistema operativo para computadoras Windows, es cuarto hombre más rico del mundo.
</div>

<h2 id="subtitulo">Frases Destacadas</h2>

<img src="http://localhost/Formularios/Vista/img/Bill%20Gates%20C01.jpg" id="foto1">
<img src="http://localhost/Formularios/Vista/img/Bill%20Gates%20C02.jpg" id="foto2">
<img src="http://localhost/Formularios/Vista/img/Bill%20Gates%20C03.jpg" id="foto3">

<div id="caja2">
        -Tus clientes más insatisfechos son tu mayor fuente de aprendizaje.<br/>
        -Si miramos al siguiente siglo, los líderes serán los que empoderan a otros.<br/>
        -Para ganar a lo grande, a veces necesitas tomar grandes riesgos.<br/>
        -Sé amable con los nerds. Lo más probable es que termines trabajando para uno.<br/>
        -Nunca me tomé un día libre en mis 20. Ni uno.<br/>
        -Tuve muchos sueños cuando era niño, y creo que gran parte creció del hecho de que tuve la oportunidad de leer mucho.<br/>
        </div>
<iframe src="https://www.youtube.com/embed/NG9DKDXq8Gg" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
    id="video"></iframe>
<h3 id="frase">“Los líderes serán aquellos que impulsen a otros”. – Bill Gates</h3>