<link rel="stylesheet" href="/css/reseñas/reseñas.css" />
<h1 id="titulo">Satya Nadella</h1>
<div>
    <img src="http://localhost/Formularios/Vista/img/satya%20nadella.jpg" id="foto1" />
</div>

<div id="caja">Nació en Hyderabad, India. Satya Nadella, el tercer CEO de Microsoft, 
        tiene un incansable espíritu de innovación. “Muchas compañías aspiran cambiar el mundo, 
        pero solo pocas tienen los elementos necesarios para hacerlo: talento, recursos y 
        perseverancia. Microsoft ha demostrado tener los tres en abundancia”.
</div>

<h2 id="subtitulo">Frases Destacadas</h2>

<img src="http://localhost/Formularios/Vista/img/satya%20nadella%20C01.jpg" id="foto1">
<img src="http://localhost/Formularios/Vista/img/satya%20nadella%20C02.jpg" id="foto2">
<img src="http://localhost/Formularios/Vista/img/satya%20nadella%20C03.png" id="foto3">

<div id="caja2">
        -“Los cambios de cultura no tienen que ser vistos como un nuevo dogma que le pertenece al nuevo CEO en turno. Si fuera eso, sólo tendría una vida medianamente corta”<br/>
        -“El día que dejamos de aprender, ése es el día en que morimos”<br/>
        -“Una de las cosas en las que estamos muy concentrados es en asegurarnos de no hablar de algún destino final o ya alcanzado. Si algo hemos aprendido, es que lo más importante para nosotros es tener una cultura que nos permita reconocer todas nuestras faltas tal como existen hoy”<br/>
        </div>
<iframe src="https://www.youtube.com/embed/wIcTirhQiU8" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
    id="video"></iframe>
<h3 id="frase">“Los líderes serán aquellos que impulsen a otros”. – Bill Gates</h3>