<link rel="stylesheet" href="/css/reseñas/reseñas.css" />
<h1 id="titulo">Pony Ma</h1>
<div>
    <img src="http://localhost/Formularios/Vista/img/Pony%20Ma.jpg" id="foto1" />
</div>

<div id="caja">Es el hombre más rico de China, con una fortuna estimada en US$45.000 
        millones, es el mayor gigante digital asiático. Ma Huateng, más conocido como Pony Ma, 
        " Es una influencia global gracias a WeChat", un servicio de mensajería instantánea.
</div>

<h2 id="subtitulo">Frases Destacadas</h2>

<img src="http://localhost/Formularios/Vista/img/Pony%20Ma%20C01.jpg" id="foto1">
<img src="http://localhost/Formularios/Vista/img/Pony%20Ma%20C02.jpg" id="foto2">
<img src="http://localhost/Formularios/Vista/img/Pony%20Ma%20C03.jpg" id="foto3">

<div id="caja2">Concejos para Mejorar el Autoconocimiento:<br/>
    -"Vengo a este mundo, no a trabajar, sino para disfrutar de esta vida. No quiero morir en la oficina, quiero morir en las playas"<br/>
    -"Las habilidades de tus empleados deben superar las del jefe. De lo contrario has contratado a las personas equivocadas."<br/>   
    -"No importa qué tan difícil sea lo que sueñas conserva esos pensamientos del primer día te mantengan motivados y te salvarán de cualquier pensamiento débil."<br/>  
        </div>
<iframe src="https://www.youtube.com/embed/rupd8QCvGUQ" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
    id="video"></iframe>
<h3 id="frase">“Los líderes serán aquellos que impulsen a otros”. – Bill Gates</h3>