<link rel="stylesheet" href="">
<form action="/registro" method="post">
<div id="contenedor">
    <div id="titulo">
        <p>Login</p>
    </div>

    <div id="">
        <label>usuario</label>
        <input type="text" name="username" id="">
    </div>

    <div>
        <label for="">Contraseña</label>
        <input type="text" name="password" id="">
    </div>

    <div>
        <button>Guardar</button>
    </div>
</div>
</form>