<link rel="stylesheet" href="/css/cajas/cajas.css">
<h1 id="titulo">Líderes Políticos</h1>
<div id="caja1">
    <img id="fotoCaja1" src="http://localhost/Formularios/Vista/img/Nelson%20Mandela.jpg">
    <h2 id="tituloCajitas4">Nelson Mandela</h2>
    <a id="boton1" href="/mandela" target="_blank">Ingresar</a>
</div>
<div id="caja2">
    <img id="fotoCaja2" src="http://localhost/Formularios/Vista/img/Gandhi.jpg">
    <h2 id="tituloCajitas4">Mahatma Gandhi</h2>
    <a id="boton2" href="/gandhi" target="_blank">Ingresar</a>
</div>
<div id="caja3">
    <img id="fotoCaja3" src="http://localhost/Formularios/Vista/img/Guevara.jpg">
    <h2 id="tituloCajitas4">Che Guevara</h2>
    <a id="boton3" href="/guevara" target="_blank">Ingresar</a>
</div>
<div id="caja4">
    <img id="fotoCaja4" src="http://localhost/Formularios/Vista/img/Alejandro%20el%20Grande.jpg">
    <h2 id="tituloCajitas4">Alejandro el Grande</h2>
    <a id="boton4" href="/alejandro" target="_blank">Ingresar</a>
</div>