<link rel="stylesheet" href="/css/reseñas/reseñas.css" />
<h1 id="titulo">Alejandro el Grande</h1>
<div>
    <img src="http://localhost/Formularios/Vista/img/Alejandro%20el%20Grande.jpg" id="foto1" />
</div>

<div id="caja">Rey de Macedonia cuyas conquistas y extraordinarias dotes militares le 
        permitieron forjar, en menos de diez años, un imperio que se extendía desde Grecia y 
        Egipto hasta la India, iniciándose así el llamado periodo helenístico (siglos IV-I a.C.) 
        de la Antigüedad
</div>

<h2 id="subtitulo">Frases Destacadas</h2>

<img src="http://localhost/Formularios/Vista/img/Alejandro%20el%20Grande%20C01.jpg" id="foto1">
<img src="http://localhost/Formularios/Vista/img/Alejandro%20el%20Grande%20C02.jpg" id="foto2">
<img src="http://localhost/Formularios/Vista/img/Alejandro%20el%20Grande%20C03.jpg" id="foto3">

<div id="caja2">
        -De la realización de cada uno, depende el destino de todos<br/>
    -No hay nada imposible para aquel que lo intenta.<br/>
    -Para mí he dejado lo mejor: la esperanza.<br/>
    -Una tumba ahora le basta para quien el mundo no era suficiente.<br/>
    -Dios es el padre común de todos los hombres.<br/>
    -Si espero, perderé la audacia y la juventud.<br/>
    -Estoy en deuda con mi padre por vivir, pero con mi maestro por vivir bien.<br/>
        </div>
<iframe src="https://www.youtube.com/embed/sjhfmfb4OrE" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
    id="video"></iframe>
<h3 id="frase">“Los líderes serán aquellos que impulsen a otros”. – Bill Gates</h3>