<link rel="stylesheet" href="/css/reseñas/reseñas.css" />
<h1 id="titulo">Mahatma Gandhi</h1>
<div>
    <img src="http://localhost/Formularios/Vista/img/Gandhi.jpg" id="foto1" />
</div>

<div id="caja">Sus metas siempre fueron mucho más amplias, y abarcaron la abolición 
        de las castas, la justicia social, la transformación de las estructuras económicas y 
        la concordia entre religiones, designios que convergían en el ideal de una profunda 
        renovación ética y espiritual del ser humano.
</div>

<h2 id="subtitulo">Frases Destacadas</h2>

<img src="http://localhost/Formularios/Vista/img/Gandhi%20C01.jpg" id="foto1">
<img src="http://localhost/Formularios/Vista/img/Gandhi%20C02.jpg" id="foto2">
<img src="http://localhost/Formularios/Vista/img/Gandhi%20C03.jpg" id="foto3">

<div id="caja2"><br/>
        -La acción expresa las distintas prioridades.<br/>
    -El hombre es producto de sus pensamientos.<br/>
    -El débil jamás puede perdonar.<br/>
    -La violencia es el miedo a los ideales del otro.<br/>
    -Mi vida es el mensaje.<br/>
    -La no violencia y la verdad son inseparables.<br/>
        </div>
<iframe src="https://www.youtube.com/embed/2B6YYBScPkQ" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
    id="video"></iframe>
<h3 id="frase">“Los líderes serán aquellos que impulsen a otros”. – Bill Gates</h3>