<link rel="stylesheet" href="/css/reseñas/reseñas.css" />
<h1 id="titulo">Ernesto Che Guevara</h1>
<div>
    <img src="http://localhost/Formularios/Vista/img/Guevara.jpg" id="foto1" />
</div>

<div id="caja">Revolucionario iberoamericano. Junto con Fidel Castro, 
        a cuyo movimiento se unió en 1956, fue uno de los principales artífices 
        del triunfo de la revolución cubana (1959).
</div>

<h2 id="subtitulo">Frases Destacadas</h2>

<img src="http://localhost/Formularios/Vista/img/Guevara%20C01.jpg" id="foto1">
<img src="http://localhost/Formularios/Vista/img/Guevara%20C02.jpg" id="foto2">
<img src="http://localhost/Formularios/Vista/img/Guevara%20C03.jpg" id="foto3">

<div id="caja2"><br/>
        - "ES MEJOR MORIR DE PIE QUE VIVIR DE RODILLAS"<br/>
    -"EL REVOLUCIONARIO VERDADERO ESTÁ GUIADO POR GRANDES SENTIMIENTOS DE AMOR"<br/>
    - "SI AVANZO, SEGUIDME; SI ME DETENGO, EMPUJADME; SI RETROCEDO, MATADME"<br/>
    -"HASTA LA VICTORIA SIEMPRE. PATRIA O MUERTE"<br/>
    - "SI USTED ES CAPAZ DE TEMBLAR DE INDIGNACIÓN CADA VEZ QUE SE COMETE UNA INJUSTICIA EN EL MUNDO, SOMOS COMPAÑEROS"<br/>
        </div>
<iframe src="https://www.youtube.com/embed/qNA823WbyyA" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
    id="video"></iframe>
<h3 id="frase">“Los líderes serán aquellos que impulsen a otros”. – Bill Gates</h3>