<link rel="stylesheet" href="/css/reseñas/reseñas.css" />
<h1 id="titulo">Nelson Mandela</h1>
<div>
    <img src="http://localhost/Formularios/Vista/img/Nelson%20Mandela.jpg" id="foto1" />
</div>

<div id="caja">Activista y político sudafricano que lideró los movimientos contra 
        el apartheid y que, tras una larga lucha y 27 años de cárcel, presidió en 1994 el 
        primer gobierno que ponía fin al régimen racista. 
</div>

<h2 id="subtitulo">Frases Destacadas</h2>

<img src="http://localhost/Formularios/Vista/img/Nelson%20Mandela%20C01.jpg" id="foto1">
<img src="http://localhost/Formularios/Vista/img/Nelson%20Mandela%20C02.jpg" id="foto2">
<img src="http://localhost/Formularios/Vista/img/Nelson%20Mandela%20C03.jpg" id="foto3">

<div id="caja2">Concejos para Mejorar el Autoconocimiento:<br/>
        -“La mayor gloria no es no caer nunca, sino levantarse siempre”.<br/>
    -“Si yo tuviera el tiempo en mis manos haría lo mismo otra vez. Lo mismo que haría cualquier hombre que se atreva a llamarse a sí mismo hombre”.<br/>
    -“Detesto el racismo, porque lo veo como algo barbárico, venga de un hombre negro o un hombre blanco”.<br/>
    -“Si quieres hacer las paces con tu enemigo, tienes que trabajar con tu enemigo. Entonces se vuelve tu compañero”..<br/>
        </div>
<iframe src="https://www.youtube.com/embed/fyOM3GLnqoI" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
    id="video"></iframe>

<h3 id="frase">“Los líderes serán aquellos que impulsen a otros”. – Bill Gates</h3>