<link rel="stylesheet" href="/css/reseñas/reseñas.css" />
<h1 id="titulo">Papa Benedicto XVI</h1>
<div>
    <img src="http://localhost/Formularios/Vista/img/Benedicto.jpg" id="foto1" />
</div>

<div id="caja">16 de abril de 1927 (edad 94 años), Marktl, Alemania. Estudió filosofía 
        y teología, Su intensa actividad científica lo llevó a desempeñar importantes cargos al 
        servicio de la Conferencia Episcopal Alemana y de la Comisión Teológica Internacional. 
        En 1977 Pablo VI le nombró arzobispo de Munich y en 2005 fue nombrado papa, finalmente 
        Benedicto XVI renuncia y pondrá fin a su papado el próximo 28 de febrero.
</div>

<h2 id="subtitulo">Frases Destacadas</h2>

<img src="http://localhost/Formularios/Vista/img/Benedicto%20C01.jpg" id="foto1">
<img src="http://localhost/Formularios/Vista/img/Benedicto%20C02.jpeg" id="foto2">
<img src="http://localhost/Formularios/Vista/img/Benedicto%20C03.jpg" id="foto3">

<div id="caja2">
        -"Después del gran papaJuan Pablo II, los señores cardenales me han elegido a mí, un trabajador sencillo y humilde en la viña del Señor".<br/>
    -"Las tendencias de disolución del matrimonio hasta el pseudomatrimonio entre personas del mismo sexo son (...)expresión de una libertad anárquica, que se presenta injustamente como verdadera liberación del ser humano".<br/>
    -"Los pueblos de los países ricos deben estar dispuestos a asumir la carga de condonar las deudas a los países pobres".<br/>
        </div>
<iframe src="https://www.youtube.com/embed/JCKvH-Yg5ZU" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
    id="video"></iframe>
<h3 id="frase">“Los líderes serán aquellos que impulsen a otros”. – Bill Gates</h3>