<link rel="stylesheet" href="/css/reseñas/reseñas.css" />
<h1 id="titulo">Gran Ayatollaho</h1>
<div>
    <img src="http://localhost/Formularios/Vista/img/Gran%20Ayatollah.jpg" id="foto1" />
</div>

<div id="caja">Es un líder musulmán iraquí de origen iraní, Gran Ayatola de 
        Irak desde 1993. Husaini es considerado como el mayor líder espiritual del 
        islamismo chiita en Irak, A partir de la invasión a Irak, en el 2003, se convirtió 
        en un influyente líder político. Fue nominado para ser candidato al Premio Nobel de la 
        Paz en el 2005.
</div>

<h2 id="subtitulo">Frases Destacadas</h2>

<img src="http://localhost/Formularios/Vista/img/gran%20ayatollah%20C01.jpg" id="foto1">
<img src="http://localhost/Formularios/Vista/img/gran%20ayatollah%20C02.jpg" id="foto2">
<img src="http://localhost/Formularios/Vista/img/gran%20ayatollah%20C03.jpg" id="foto3">

<div id="caja2">
        -“¿La gente no encuentra agua potable y me traes jugo? No.".<br/>
    -"La oficina de Sistani rechaza el reemplazo de la ley [que excluye a los ex miembros del Partido Baath de regresar a la vida pública] porque no es una demanda iraquí, sino una demanda política para complacer a algunas partes".<br/>
    -El consejo que redactará la constitución debe ser elegido, no escogido a mano ... La constitución será ilegal si la redacta un consejo, ya sea elegido por los estadounidenses o por lo que se llama el Consejo de Gobierno o por cualquier otra persona. "<br/>
        </div>
<iframe src="https://www.youtube.com/embed/bq3f648dKVQ" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
    id="video"></iframe>
<h3 id="frase">“Los líderes serán aquellos que impulsen a otros”. – Bill Gates</h3>