<link rel="stylesheet" href="/css/reseñas/reseñas.css" />
<h1 id="titulo">MAHOMA</h1>
<div>
    <img src="http://localhost/Formularios/Vista/img/Mahoma.jpg" id="foto1" />
</div>

<div id="caja">Su nombre primitivo fue probablemente Ahmad: 
        (Muhammad, Mohammed o Mahomet; La Meca, h. 575 - Medina, 632) Profeta 
        árabe, fundador de la religión musulmana.
</div>

<h2 id="subtitulo">Frases Destacadas</h2>

<img src="http://localhost/Formularios/Vista/img/Maoma%20C01.jpg" id="foto1">
<img src="http://localhost/Formularios/Vista/img/Maoma%20C02.jpg" id="foto2">
<img src="http://localhost/Formularios/Vista/img/Maoma%20C03.jpg" id="foto3">

<div id="caja2">
       -La tinta del sabio es más sagrada que la sangre del mártir.<br/>
        -Ninguno de vosotros tendrá fe hasta que él me ama más que su padre, sus hijos y toda la humanidad.<br/>
        -Una persona fuerte no es aquélla que tira al suelo a su adversario. Una persona fuerte es la persona que sabe contenerse cuando está encolerizada.<br/>
        -Ciertamente las buenas obras dependen de las intenciones, y cada hombre tendrá según su intención<br/>
        </div>
<iframe src="https://www.youtube.com/embed/rHeu4PFcIYk" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
    id="video"></iframe>
<h3 id="frase">“Los líderes serán aquellos que impulsen a otros”. – Bill Gates</h3>